body {
  font-family: 'Pretendard Variable', sans-serif;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

.error-highlight {
  /* background-color: rgba(255, 107, 107, 0.6) !important; */
}

.error-icon {
  color: #dc2626 !important;
  animation: pulse-error 0.3s ease-out infinite;
}

@keyframes pulse-error {
  0% {
    scale: 1;
    filter: brightness(1);
  }
  70% {
    scale: 0.9;
    filter: brightness(0.9);
  }
  100% {
    scale: 1;
    filter: brightness(1);
  }
}

@keyframes pulse-hint {
  0% {
    scale: 1;
    filter: brightness(1);
  }
  70% {
    scale: 0.9;
    filter: brightness(0.9);
  }
  100% {
    scale: 1;
    filter: brightness(1);
  }
}

.hint-animation {
  animation: pulse-hint 0.3s ease-out;
}

.material-symbols-outlined {
  pointer-events: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
}

[data-r][data-c] {
  & > span {
    opacity: 0.8;
  }
}

button {
  transition: all 0.3s ease;

  &:active:not(:disabled) {
    scale: 0.9;
  }

  &.is-pressing {
    scale: 0.9;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}